.board-container {
	height: 500px;
	width: 600px;
	place-items: center;
	margin: 0 auto;
	margin-top: 20px;

	button {
		background-color: inherit;
		border: none !important;
		height: 150px;
		width: 150px;
	}

	table {
		width: 100%;
		font-size: 2.5em;
		color: rgb(109, 108, 108);
		overflow: hidden;
	}

	td {
		width: 300px;
		text-align: center;
		vertical-align: middle;
	}

	tr {
		border-bottom: 1px solid rgb(171, 168, 168);
	}
	tr:hover {
		background-color: rgb(225, 246, 247);
	}

	td,
	th {
		position: relative;
	}

	td:hover::after,
	th:hover::after {
		content: '';
		position: absolute;
		background-color: rgb(225, 246, 247);
		left: 0;
		top: -5000px;
		height: 10000px;
		width: 100%;
		z-index: -1;
	}

	table,
	th,
	td {
		border: 1px solid rgb(171, 168, 168);
	}
}
